
body {
  width: 100%;
  height: 100vh;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-logo {
  margin-top: 8%;
}
.container {
  
  display: flex;
  max-width: 700px;
  background-color: #ffffff;
  margin-top: 6%;
  padding: 15px;
  border-radius: 10px;
}
.first_side{
  margin: 0.5em 0;
  gap: 0.5em;
  display: grid;
}
.bill{
  position: relative;
}
.bill label{
  color: hsl(184, 14%, 56%);
  font-size: 11px;
  font-weight: bold 20px;
}
.bill img{
  position: absolute;
  left: 5px;
  top: 22px;
  width: 9px;
}
.bill input{
  text-align: end;
  width: 100%;
  padding: 4px;
  border: none;
  border-radius: 4px;
  background-color: hsl(189, 41%, 97%);
  outline: none;
  color: hsl(183, 100%, 15%);

}
.bill input::placeholder{
  color: hsl(183, 100%, 15%);
}
.select_tip{
 margin: 0.5rem 0;
gap: 0.5em;
display: grid;
}
.select_tip label{
  color: hsl(184, 14%, 56%);
  font-size: 11px;
  font-weight: bold 20px;
}
.first_1{
  display: inline-block;
  width: 250px;


}
.first_1 button{
  background-color: hsl(183, 100%, 15%);
  color: #ffffff;
  font-weight: bold 20px 20px;
  border: none;
  width: 70px;
  border-radius:0.2rem ;

}
.first_1 button:hover,
.second_2 button:hover{
  background-color:hsl(172, 67%, 45%) ;
  color: hsl(183, 100%, 15%);
  transition: 0.3s;
}
.second_2{
  display: inline-block;
}
.second_2 button{
  border: none;
  color: #ffffff;
  font-weight: bold 20px;
  background-color: hsl(183, 100%, 15%);
  width: 70px;
  margin-top:  0.5rem;
  border-radius:0.2rem ;

}
.second_2 input{
  background-color: hsl(189, 41%, 97%);
width: 70px;
border: none;
border-radius: 5px;
outline: none;
text-align: center;
}
.second_2 input::placeholder{
  color: hsl(184, 14%, 56%);
  font-weight: bold 20px;
}
.number_of_people{

  gap: 0.5rem;
  display: grid;
  position: relative;
}
.number_of_people label{
  font-size: 11px;
  font-weight: bold 20px;
  color: hsl(184, 14%, 56%);
}
.number_of_people input{
  text-align: end;
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  border:none;
  border-radius: 4px;
  outline: none;
}
.number_of_people img{
  position: absolute;
  left: 7px;
  top: 30px;
  width: 9px;
}
.second_side{
  margin: 0.5rem 0.5rem;
  background-color: hsl(183, 100%, 15%);
  padding: 5px;
  width: 100%;
  border-radius: 0.5rem;
  height: 270px;
}

.tip_amount{
  font-size: 11px;
  gap: 2rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.total{
  font-size: 11px;
  gap: 2rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tip_amount h6,.total h6{
color: #ffffff;
font-size:11px;
font-weight: bold;
}
.tip_amount p, .total p {
  font-size: 8px;
  font-weight: bold 70px;
  color: hsl(184, 14%, 56%);
}
.tip_amount h2,.total h2 {
  color: #ffffff;
} 
.reset{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.btn-reset{
  background-color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 0.5rem;
  width: 250px;
  padding: 7px;
  margin-top: 2rem;
  color: hsl(183, 100%, 15%);
  font-weight: bold 20px;
}